@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 246 24% 97%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 270 79% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 246 24% 97%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 5% 85%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 270 79% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 88%;
    --input: 240 5% 88%;
    --ring: 270 79% 40%;
    --chart-1: 270 79% 40%;
    --chart-2: 246 24% 97%;
    --chart-3: 240 5% 85%;
    --chart-4: 270 79% 60%;
    --chart-5: 270 79% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 8%;
    --foreground: 0 0% 100%;
    --card: 240 10% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 240 10% 8%;
    --popover-foreground: 0 0% 100%;
    --primary: 270 79% 55%;
    --primary-foreground: 240 10% 8%;
    --secondary: 240 10% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5% 25%;
    --muted-foreground: 240 5% 75%;
    --accent: 270 79% 55%;
    --accent-foreground: 240 10% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 270 79% 55%;
    --chart-1: 270 79% 55%;
    --chart-2: 240 10% 12%;
    --chart-3: 240 5% 25%;
    --chart-4: 270 79% 65%;
    --chart-5: 270 79% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
